body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center
}

figure {
  text-align: center
}

nav a {
  padding: 0 10px 0;
}

figcaption {
  font-size: 15px;
  text-align: center;
}

#featured-property {
  text-align: center;
}

#featured-property p {
  width: 800px;
  display: inline-block;
}

#details {
  text-align: center;
}